*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


@media screen and (min-width:1200px){

    .navbar-nav{
        padding-top: 47px;
    }
    
    header nav{
        border-bottom: outset 3px #121F3D;
    }

   
    footer{
        border-top: outset 3px #121F3D;
    }
    
    .contenedorLogoFooter{
        
        padding-top: 112px;
    }

    footer div div li a{
        text-decoration: none;
        color: black;
    }
    
    .mapaSitio{
        padding-top: 45px;
        margin-left: -70px;
        margin-right: 70px;
    }
    
    .asociate{
        padding-top: 45px;
    }


    iframe{

        width: 230px !important;
        height: 230px !important;
        margin-top: -50px !important;
        margin-right: 32px !important;
        float: right;

    }

    .ig{
        font-size: 30px;
        color: blueviolet;
       }
      
       .fb{
        font-size: 30px;
        color: blue;
       }
  
       .wpp{
        font-size: 30px;
        color: green;
          }

    p{
        text-align: center;
    }
    .iconosFooter{
        display: flex;
        list-style: none;
        justify-content: center;
        margin-right: 22px;
    }

    .seguinosFooter{
        padding-left: 670px !important;
    }

    .mapa1{
        padding-top: 45px;
    }
}



@media screen and (min-width:992px){

    .navbar-nav{
        padding-top: 47px;
    }
    
    header nav{
        border-bottom: outset 3px #121F3D;
    }

    
    
    
    footer{
        border-top: outset 3px #121F3D;
    }
    
    footer div div li a{
        text-decoration: none;
        color: black;
    }
    
    
    iframe{
        height: 20vw;
        width: 20vw;
        float: right;
    }

    .iconosFooter{
        display: flex;
        list-style: none;
        justify-content: center;
        margin-right: 22px;
    }

    .ig{
        font-size: 30px;
        color: blueviolet;
       }
      
       .fb{
        font-size: 30px;
        color: blue;
       }
  
       .wpp{
        font-size: 30px;
        color: green;
          }
    p{
        text-align: center;
    }
}
    
@media screen and (min-width:768px) and (max-width:992px){

    .navbar-nav{
        padding-top: 47px;
    }
    
    header nav{
        border-bottom: outset 3px #121F3D;
    }
    
   
    .grilla1,
   .grilla2,
   .grilla3{
    width: 47% !important;
   }
   
    
    footer{
        border-top: outset 3px #121F3D;
    }
    
    footer div div li a{
        text-decoration: none;
        color: black;
    }
    
   
    
    iframe{
        height: 30vh;
        width: 30vw;
        margin-left: 280px;
        
    }
.iconosFooter{
        display: flex;
        list-style: none;
        justify-content: center;
        margin-right: 22px;
    }
    
    .ig{
        font-size: 30px;
        color: blueviolet;
       }
      
       .fb{
        font-size: 30px;
        color: blue;
       }
  
       .wpp{
        font-size: 30px;
        color: green;
          }
    p{
        text-align: center;
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    .navbar-nav{
        padding-top: 47px;
    }
    
    header nav{
        border-bottom: outset 3px #121F3D;
    }
    
   
    .imagenNombre1{
        width: 90vw;
    }

   .grilla1,
   .grilla2,
   .grilla3{
    width: 47% !important;
   }


    footer{
        border-top: outset 3px #121F3D;
    }
    
    footer div div li a{
        text-decoration: none;
        color: black;
    }
    
    
    footer div div ul{
        padding-top: 7px;
        padding-left: 140px;
    }
    
    .imagenNombre2{
        width: 90vw;
    }

    iframe{
        height: 36vh;
        width: 50vw;
        margin-left: 166px;
           
    }
    .iconosFooter{
        display: flex;
        list-style: none;
        height: 36vh;
        width: 92vw;
    }
    
    .ig{
        font-size: 30px;
        color: blueviolet;
       }
      
       .fb{
        font-size: 30px;
        color: blue;
       }
  
       .wpp{
        font-size: 30px;
        color: green;
          }
    p{
        text-align: center;
    }
}

@media screen and (max-width:576px){

    .navbar-nav{
        padding-top: 47px;
    }
    
    .imagenNombre1{
        width: 90vw;
    }

    
    footer{
        border-top: outset 3px #121F3D;
    }
    
    footer div div li a{
        text-decoration: none;
        color: black;
    }
    
    .imagenNombre2{
        width: 90vw;
    }

    iframe{
        height: 36vh;
      width: 92vw;
        
    }
    .mapa1{
    overflow: hidden;
    }
    .seguinosFooter{
        margin-left: 164px;
    }
    .seguinosFooter1{
    padding-left: 24px;
    }
    .iconosFooter{
        display: flex;
        list-style: none;
        
    }
    
    .ig{
        font-size: 30px;
        color: blueviolet;
       }
      
       .fb{
        font-size: 30px;
        color: blue;
       }
  
       .wpp{
        font-size: 30px;
        color: green;
          }
    p{
        text-align: center;
    }

}