*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.grid_layout{

    height: 850px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 15% 10% auto auto 15%;
    
    
    
}

.caja1{
    border-bottom: outset 5px #121F3D;
    grid-column: 1/6;
    display: flex;
    
}

.inicioLogo{
    padding-top: 19px;
}

header{
    display: flex;
}

div nav ul{
    padding-top: 32px;
    padding-left: 21px;
}

div nav li{
    display: inline-block;
    text-decoration:solid;
    font-size: 15px;
    font-weight: bolder;
    padding:0 10px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;

}

div nav{
    display: flex;
    align-items: center;
    
}


div nav li a{
    text-decoration: none;
}

.caja2{
    grid-column: 1/6;
    grid-row: 2;
    
}

h3{
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,4,76,1) 5%, rgba(7,7,99,1) 10%, rgba(9,9,121,1) 15%, rgba(7,66,159,1) 20%, rgba(3,149,214,1) 56%, rgba(0,212,255,1) 78%);
    color: aliceblue;
    height: 100px;
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
    padding-left: 21px;
    border-bottom: solid #121F3D;
    

}




.caja3{
    
    grid-column: 1/5;
    grid-row: 3/5;
    
}

form{
    margin-top: 15%;
    line-height: 3;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding-left: 30px
}

.imagenPrincipal{
    border: solid #FAF3DD;
    width: 50vw;
    margin-top: 30px;
}

p{
    width: 692px;
    margin: 10px auto;
    margin-bottom: 46px;
}

.caja4{
    
    grid-column: 1/5;
    grid-row: 5/6;
    display: flex;
    border-top: outset #121F3D;;
}

div footer{
    display: flex;
    margin-top: 20px;
}

.imagenNombre{
    margin-top: 7%;
}

div footer li{
    
    text-decoration:solid;
    font-size: 15px;
    font-weight: bolder;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    
}

div footer li a{
    text-decoration: none;
}

div footer ul{
    column-count: 2;
    text-align: center;
 }

 h6{
    text-decoration:underline;
    font-size: 18px;
    font-weight: bolder;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    margin-left: 140px;
 }

.container_footer{
    padding-left: 50px;
    
}

.caja5{
    grid-column: 5/6;
    grid-row: 5/6;
    display: flex;
    justify-content: flex-end;
    padding-top: 6px;
    padding-right: 9px;
    border-top: outset #121F3D;;
}


@media screen and (max-width: 600px){

    

    header nav{
        display: none;
       }
       
       .hambur2 span{
           background-color: black;
           width: 20px;
           height: 2px;
           
       }
       
    
    

   

 header div{
    margin-left: 38%;
    margin-top: 22px;
       
 }
footer ul{
    display: none;
}

.caja4{
    grid-column: 1/5;
}

footer div{
        margin-left: 38%;
        
}

.imagenNombre{
    margin-top: 1%;
}

.caja5{
    grid-column: 1/6;
    border-top: none;
    margin: 0 auto;
    grid-row: 6/7
}

}