@import "variables.scss";
@import "mixins.scss";


*{
    margin:0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');



@media screen and (min-width:1200px){   

    .navbar-nav{
        padding-top: 47px;
    }
    
    header nav{
        border-bottom: $borde;
    }
    
    h2{
        text-align: $alineacion-texto;
      }
    
      .caja1{
        height: map-get($ancho, 13 );
         width: map-get($ancho, 20 );
         padding-top: 34px;
    }
    
    .caja2{
        @extend .caja1;
    
    }
    
    .caja3{
         @extend .caja1;
    }
    
    .imagenPrincipal{
         width: map-get($ancho, 40 );
    }
    
    .imagencon{
        width:map-get($ancho, 40 );
    }
    
    
    footer{
        border-top: $borde;
    }
    
    footer div div li a{
        text-decoration: none;
        color: black;
    }
    
    footer div .mapaSitio{
        margin-right: -75px;
    }
    
    iframe{
        height:map-get($ancho, 20 );
        width: map-get($ancho, 20 );
        float: right;
    
    }
    
    p{
        text-align: $alineacion-texto;
    }
    
    }
    
    



@media screen and (min-width:992px){

    .navbar-nav{
        padding-top: 47px;
    }
    
    header nav{
        border-bottom: $borde;
    }

    h2{
        text-align: $alineacion-texto;
      }

      .caja1{
        @include height-width-padding
    }

    .caja2{
        @include height-width-padding
    }

    .caja3{
        @include height-width-padding
         
    }

    .imagenPrincipal{
         width: 40vw;
    }

    .imagencon{
        width: 40vw;
    }
    
    
    footer{
        border-top: $borde;
    }
    
    footer div div li a{
        text-decoration: none;
        color: black;
    }
    
    
    iframe{
        height: 20vw;
        width: 20vw;
        float: right;
    }

    p{
        text-align: center;
    }
}
    
@media screen and (min-width:768px) and (max-width:992px){

    .navbar-nav{
        padding-top: 47px;
    }
    
    header nav{
        border-bottom: $borde;
    }
    
    h2{
        text-align: center;
      }

    .caja1,
    .caja2,
    .caja3{
        height: 13vw;
         width: 20vw;
         padding-top: 69px;
    }


    .imagenPrincipal{
        width: 40vw;
   }

    .imagencon{
        width: 40vw;
    }
    
   
    
    footer{
        border-top: $borde;
    }
    
    footer div div li a{
        text-decoration: none;
        color: black;
    }
    
   
    
    iframe{
        height: 30vh;
        width: 30vw;
        
    }

    p{
        text-align: center;
    }

}

@media screen and (min-width:576px) and (max-width:768px) {
    .navbar-nav{
        padding-top: 47px;
    }
    
    header nav{
        border-bottom: $borde;
    }
    
    h2{
        text-align: center;
      }

    .imagenPrincipal{
        width: inherit;
   }

    .caja1{
        height: 13vw;
         width: inherit;
         text-align: center;
         padding-top: 34px;
         
    }

    .caja2{
        height: 13vw;
        width: inherit;
        text-align: center;
        margin-top: 10px !important;
        margin-bottom: 10px;
        padding-top: 34px;
    }

    .caja3{
        height: 13vw;
        width: inherit;
        text-align: center;
        padding-top: 34px;
    }


    .textocontacto{
    width: 70vw;
   }

    .imagencon{
        width: inherit;
        
    }
    
   
    footer{
        border-top: $borde;
    }
    
    footer div div li a{
        text-decoration: none;
        color: black;
    }
    
    
    footer div div ul{
        padding-top: 7px;
        padding-left: 140px;
    }
    
    iframe{
        height: 36vh;
        width: 50vw;
       
    }

    p{
        text-align: center;
    }

}

@media screen and (max-width:576px){

    .navbar-nav{
        padding-top: 47px;
    }
    
   h2{
     text-align: center;
   }

    header nav{
        border-bottom: $borde;
    }
    .imagenNombre1{
        width: 90vw;
    }

    .imagenPrincipal{
        width: inherit;
   }

   .caja1{
    height: 13vw;
     width: inherit;
     text-align: center;
     padding-top: 34px;
     
}

.caja2{
    height: 13vw;
    width: inherit;
    text-align: center;
    margin-top: 10px !important;
    margin-bottom: 10px;
    padding-top: 34px;
}

.caja3{
    height: 13vw;
    width: inherit;
    text-align: center;
    padding-top: 34px;
}

    .imagencon{
        width: inherit;
    }
    
    .imagenNombre2{
        width: 90vw;
    }
    
    footer{
        border-top: $borde;
    }
    
    footer div div li a{
        text-decoration: none;
        color: black;
    }
    
    
    iframe{
        height: 36vh;
        
    }
    .mapa1{
    overflow: hidden;
    }

    p{
        text-align: center;
    }

}

